{% extends "base.html" %} 
{% block content %}
<div class="ui middle aligned center aligned grid">
  <div style="max-width: 480px;">
    <h1 style="text-align: center;">{{_("Sign In to your Account")}}</h1>
    <div class="ui segment">
      <form class="ui large form" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="field">
          {{ form.username.label }}
          {{ form.username(size=32) }}
          {% if form.username.errors %}
          <div class="ui error message" style="display: inherit">
            <ul class="list">
              {% for error in form.username.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        <div class="field">
          {{ form.password.label }}
          {{ form.password(size=32) }}
          {% if form.password.errors %}
          <div class="ui error message" style="display: inherit">
            <ul class="list">
              {% for error in form.password.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ form.remember_me() }}{{ form.remember_me.label }}
          </div>
        </div>
        {{ form.submit(class_="fluid ui button primary") }}
      </form>
      <div>{{_("Forgot Password?")}} <a href="{{ url_for('auth.reset_password_request') }}">{{_("Click here to Reset it.")}}</a></div>
      <div>{{_("New User?")}} <a href="{{ url_for('auth.register') }}">{{_("Click to Register!")}}</div>
    </div>
  </div>
</div>
{% endblock %}
