{% extends "base.html" %} {% block content %}
<div class="ui middle aligned center aligned grid">
  <div style="max-width: 480px;">
    <h1 style="text-align: center;">{{ _("Reset Password") }}</h1>
    <div class="ui segment" style="max-width: 450px;">
      <form class="ui form" action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="field">
          {{ form.email.label }} {{ form.email(size=64) }} {% if
          form.email.errors %}
          <div class="ui error message" style="display: inherit">
            <ul class="list">
              {% for error in form.email.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        {{ form.submit(class_="fluid ui button orange") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
