{% extends "base.html" %} {% block content %}
<h1>{{ _("Edit Profile") }}</h1>
<div class="ui segment">
  <form class="ui form" action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="field">
      {{ form.username.label }}
      {{ form.username(size=32) }}
      {% if form.username.errors %}
      <div class="ui error message" style="display: inherit">
        <ul class="list">
          {% for error in form.username.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="field">
      {{ form.about_me.label }}
      {{ form.about_me(cols=50, rows=4) }}
      {% if form.about_me.errors %}
      <div class="ui error message" style="display: inherit">
        <ul class="list">
          {% for error in form.about_me.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    <p>{{ form.submit(class_="fluid ui button") }}</p>
  </form>
</div>
{% endblock %}
