{% extends "base.html" %} {% block content %}
<div class="ui middle aligned center aligned grid">
  <div style="max-width: 480px;">
    <h1 style="text-align: center;">{{ _("Create a New Account") }}</h1>
    <div class="ui segment">
      <form class="ui form" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="field">
          {{ form.username.label }}
          {{ form.username(size=32) }}
          {% if form.username.errors %}
          <div class="ui error message" style="display: inherit">
            <ul class="list">
              {% for error in form.username.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        <div class="field">
          {{ form.email.label }}
          {{ form.email(size=64) }}
          {% if form.email.errors %}
          <div class="ui error message" style="display: inherit">
            <ul class="list">
              {% for error in form.email.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        <div class="field">
          {{ form.password.label }}
          {{ form.password(size=32) }}
          {% if form.password.errors %}
          <div class="ui error message" style="display: inherit">
            <ul class="list">
              {% for error in form.password.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        <div class="field">
          {{ form.password2.label }}
          {{ form.password2(size=32) }}
          {% if form.password2.errors %}
          <div class="ui error message" style="display: inherit">
            <ul class="list">
              {% for error in form.password2.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        {{ form.submit(class_="fluid ui button primary") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
