<div class="ui card">
  <div class="image">
    <img src="{{ user.avatar(220) }}" />
  </div>
  <div class="content">
    <a href="{{ url_for('main.user', username=user.username) }}" class="header">
      {{ user.username }}
    </a>
    <div class="meta">
      {% if user.last_seen %}
      <p>
        {{ _('Last seen on') }}: {{ moment(user.last_seen).format('lll') }}
      </p>
      {% endif %}
    </div>
    <div class="description">
      {% if user.about_me %} {{ user.about_me }} {% endif %}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      <p>
        {{ _('%(count)d followers', count=user.followers.count()) }}, {{
        _('%(count)d following', count=user.followed.count()) }}
      </p>
    </a>
    {% if user != current_user %} {% if not current_user.is_following(user) %}
    <a
      class="ui button primary"
      href="{{ url_for('main.follow', username=user.username) }}"
    >
      {{ _('Follow') }}
    </a>
    {% else %}
    <a
      class="ui button secondary"
      href="{{ url_for('main.unfollow', username=user.username) }}"
    >
      {{ _('Unfollow') }}
    </a>
    {% endif %} {% endif %}
  </div>
</div>
