{% extends "base.html" %} {% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="ui card">
    <div class="image">
      <img src="{{ user.avatar(280) }}" />
    </div>
    <div class="content">
      <a class="header">{{ user.username }}</a>
      {% if user.about_me %}
      <div class="description">
        {{ user.about_me }}
      </div>
      {% endif %} {% if user.last_seen %}
      <div class="meta">
        <span class="date"
          >{{ _("Last seen on: ") }} {{ moment(user.last_seen).format("LLL")
          }}</span
        >
      </div>
      {% endif %} {% if user != current_user %}
      <div style="text-align: right;">
        {% if current_user.is_following(user) %}
        <a
          class="ui button secondary"
          href="{{ url_for('unfollow', username=user.username) }}"
        >
          {{ _("Unfollow") }}
        </a>
        {% else %}
        <a
          class="ui button primary"
          href="{{ url_for('follow', username=user.username)  }}"
        >
          {{ _("Follow") }}
        </a>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% if user == current_user %}
    <div class="extra content">
      <a href="{{ url_for('edit_profile') }}">
        <i class="edit icon"></i>
        {{ _("Edit your profile") }}
      </a>
    </div>
    {% endif %}
  </div>
  <div
    class="ui segment row"
    style="justify-content: flex-start; padding-left: 1rem"
  >
    {% if posts %}
    <div class="ui middle aligned divided list" style="width: inherit; ">
      {% for post in posts %} {% include "_post.html" %} {% endfor %}
    </div>
    {% else %} {{ _("No posts to show.") }} {% endif %}
  </div>
</div>
{% endblock %}
